In [1]:
"""
1.나와 가장 상관계수가 높게 나온 사람? 5명출력
2. 내가 안본 영화 중에서 추천 점수가 가장 높은순으로 영화제목과 예상평점
"""

'\n1.나와 가장 상관계수가 높게 나온 사람? 5명출력\n2. 내가 안본 영화 중에서 추천 점수가 가장 높은순으로 영화제목과 예상평점\n'

In [2]:
import pandas as pd

In [16]:
movierank_df=pd.read_excel("index영화평점.xlsx",header=1,index_cols='이름')

In [17]:
movierank_df.index

RangeIndex(start=0, stop=20, step=1)

In [18]:
movierank_df.columns

Index(['이름', '명량', '국제시장', '아바타', '택시운전사', '부산행', '변호인', '겨울왕국', '기생충'], dtype='object')

In [19]:
movierank_df

     이름   명량  국제시장  아바타  택시운전사  부산행  변호인  겨울왕국  기생충
0   고재형  NaN   NaN  4.5    3.5  4.0  NaN   4.0  4.0
1   김건우  4.0   4.5  NaN    NaN  NaN  3.5   2.5  NaN
2   박경호  4.0   5.0  4.5    NaN  2.0  3.5   0.0  5.0
3    박찬  4.0   5.0  3.0    NaN  4.5  3.5   3.0  5.0
4   김경아  4.0   4.0  NaN    4.0  4.0  3.0   4.0  5.0
5   정서영  3.0   2.0  5.0    3.0  1.0  NaN   3.0  5.0
6   정한음  4.0   5.0  5.0    4.0  5.0  NaN   5.0  NaN
7   오종민  3.0   4.5  4.5    1.5  NaN  3.5   4.0  NaN
8   차유화  NaN   3.5  4.0    3.5  2.0  3.5   4.0  3.0
9   이성천  NaN   NaN  5.0    NaN  NaN  NaN   3.0  NaN
10  이은성  2.0   NaN  4.5    NaN  NaN  3.5   4.0  5.0
11  김나연  3.0   3.5  NaN    4.0  3.0  4.0   4.0  3.0
12  조준형  4.0   3.0  3.5    4.0  NaN  4.5   NaN  5.0
13  김태현  NaN   4.0  3.0    NaN  3.0  4.0   3.0  4.0
14  한미래  3.0   NaN  4.0    5.0  4.0  4.0   3.0  5.0
15  조현진  NaN   NaN  4.0    NaN  NaN  NaN   4.0  NaN
16  유기욱  3.5   4.0  4.5    4.5  4.5  4.0   4.0  4.5
17  김경한  2.0   4.0  5.0    3.0  5.0  NaN   5.0  5.0
18  신아영  NaN   NaN  NaN    NaN  2.5  NaN   3.0  NaN
19  엄다연  3.0   5.0  NaN    NaN  4.0  3.5   NaN  4.0

In [101]:
movierank_df.loc[0][1:9][movierank_df.loc[0][1:9].notnull()]

아바타      4.5
택시운전사    3.5
부산행        4
겨울왕국       4
기생충        4
Name: 0, dtype: object

In [ ]:
for i in range